<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% end %} - Redis Admin</title>
    <link href="{{ static_url('style/favicon.png') }}" rel='shortcut icon' />
    <link rel="stylesheet" href="{{ static_url('style/base.css') }}" />
    {% block css %}{% end %}
    <script type="text/javascript" src="{{ static_url('js/jquery.min.js') }}"></script>
    <script type="text/javascript">
    function sidebarHeight() {
        $('.sidebar').css('height', $('.content').height());
    }
    </script>
    {% block js %}{% end %}
</head>
<body>
<div id="wrap">
    {% set messages = handler.get_flashed_messages() %}
    {% if messages %}
    <div id="flashed">
        {% for category, msg in messages %}
        <span class="flash-{{ category }}">{{ msg }}</span>
        {% end %}
    </div>
    {% end %}
    <div id="header">
        <div class="inner">
            <h1>Redis Admin</h1>
            <div id="nav">
                <ul>
                    <li>
                        <a href="javascript:;" class="connection">{{ _("Connection") }}</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="info">{{ _("Info") }}</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="new">{{ _("New") }}</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="backup" onclick="alert('come soon..')">{{ _("Backup") }}</a>
                    </li>
                </ul>
            </div>
            <div class="account">
            {% if current_user %}
            <a href="{{ reverse_url('logout') }}">{{ _("logout") }}</a>
            {% else %}
                <p>Please login.</p>
            {% end %}
            </div>
        </div>
    </div>
    <div id="container">
        {% set db = handler.session['db'] if 'db' in handler.session else 0 %}
        <div id="connect-list" class="pop-box" style="display:none;">
            <ul>
                {% for i in range(handler.settings['redis_db']) %}
                <li><a href="javascript:;" data-db="{{ i }}" {% if db==i %} class="current"{% end %}>DB: {{ i }}</a></li>
                {% end %}
            </ul>
        </div>
        <div id="new-box" class="pop-box" style="display:none;">
            <form action="" onsubmit="return false;">
            <table>
                <tr>
                    <th><label for="new-key">Key:</label></th>
                    <td>
                        <input id="new-key" name="key" type="text" />
                    </td>
                </tr>
                <tr>
                    <th><label for="new-type">Type:</label></th>
                    <td>
                        <select id="new-type" name="type" autocomplete="off">
                            <option value="string">String</option>
                            <option value="list">List</option>
                            <option value="hash">Hash</option>
                            <option value="set">Set</option>
                            <option value="zset">Sorted Set</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label for="new-value">Value:</label></th>
                    <td>
                        <textarea id="new-value" name="value" rows="10" cols="30"></textarea>
                        <p class="tips">Hash: {'field': value, 'field': value, ...} <br />List or Set: [member, member, ...]<br />Sorted Set: Just support add first value now.</p>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" value="Add" /></td>
                </tr>
            </table>
            </form>
        </div>
        {% block container %}
        <div class="inner clearfix">
            <div class="sidebar">
            {% block sidebar %}{% end %}
            </div>
            <div class="content">
            {% block content %}{% end %}
            </div>
        </div>
        {% end %}
    </div>
    <div id="footer">
        <div class="inner">
            <p class="info"><span>Copyright &copy; laoqiu.com Аll Rights Reserved. </span>Powered by tornado. </p>
        </div>
    </div>
</div>
<div id="loading"><img src="{{ static_url('style/loading.gif') }}" alt="loading..." /></div>
</body>
</html>
