{% extends 'base.html' %}
{% block title %}Redis web manager by tornado{% end %}
{% block css %}
<link rel="stylesheet" href="{{ static_url('js/jquery.treeview.css') }}" />
{% end %}
{% block js %}
<script type="text/javascript" src="{{ static_url('js/jquery.treeview.js') }}"></script>
<script type="text/javascript">
function initTree() {
    $('#menu ul').treeview({
        collapsed: true,
        animated: "fast",
        control:"#sidetreecontrol",
        persist: "location"
    })
}

function flushAll() {
    var r = confirm("Are you sure remove all keys from all databases?");
    if (r) {
        $.getJSON('{{ reverse_url('flush_all') }}', function(data){
            if (data.success) location.reload();
            else alert('flush failed');
        })
    }
}

function flushDB() {
    var r = confirm("Are you sure remove all keys from the current database?");
    if (r) {
        $.getJSON('{{ reverse_url('flush_db') }}', function(data){
            if (data.success) location.reload();
            else alert('flush failed');
        })
    }
}

function deleteKey(key) {
    var r = confirm("Are you sure delete this key?");
    if (r) {
        $.getJSON('{{ reverse_url('delete') }}', {'key':key}, function(data){
            if (data.success) {
                var html = ' \
                    <tr> \
                        <th>This key is deleted.</th> \
                    </tr> \
                    ';
            } else {
                var html = ' \
                    <tr> \
                        <th>This key delete failed.</th> \
                    </tr> \
                    ';
            }
            $('#data-box table tbody').html(html);
        })
    }
}

function move(key) {
    var db = prompt("Move a key to which database?", "1");
    if (db!=null && db!='') {
        $.getJSON('{{ reverse_url('move') }}', {'key':key, 'db':db}, function(data){
            if (data.success) {
                var html = ' \
                    <tr> \
                        <th>This key is removed.</th> \
                    </tr> \
                    ';
            } else {
                var html = ' \
                    <tr> \
                        <th>This key remove failed.</th> \
                    </tr> \
                    ';
            }
            $('#data-box table tbody').html(html);
        })
    }
}

function expire(key) {
    var seconds = prompt("Set number of this key's time to live in seconds?", "3600");
    if (seconds!=null && seconds!='') {
        $.getJSON('{{ reverse_url('expire') }}', {'key':key, 'seconds':seconds}, function(data){
            if (data.success) {
                var message = '<p>This key is expired.<p>';
            } else {
                var message = '<p>This key expire failed.<p>';
            }
            $('#data-box table').before(message);
        })
    }
}

function getInfo() {
    $.getJSON('{{ reverse_url('info') }}', function(data){
        if (data!=null & data!='') {
            var html = ' \
                <h2>Redis Server Info</h2> \
                <div class="options"> \
                    <ul> \
                        <li><a href="javascript:;" onclick="flushAll()">Flush All</a></li> \
                        <li><a href="javascript:;" onclick="flushDB();">Flush DB</a></li> \
                    </ul> \
                </div> \
                <table class="info">';
            $.each(data, function(i,d){
                html += "<tr><th>"+d[0]+"</th><td>"+d[1]+"</td></tr>";
                })
            html += '</table>';
            $('#data-box').html(html);
            sidebarHeight();
        } else { alert('server error!');
        }
    })
}

function createMenuNode(data){
    if (data=='') return data;
    var html = '<ul class="filetree">';
    $.each(data, function(i,d){
        var text = '';
        if (d['children']!='') {
            text = '<a href="/#!/'+d['id']+'"><span class="folder" data-root="' + d['id'] + '">' + d['text'] + '</span></a>';
        } else {
            text = '<a href="/#!/'+d['id']+'" class="key" data-key="'+ d['id'] +'">' + d['text'] + '</a>';
        }
        html += "<li>" + text + createMenuNode(d['children']) + "</li>";
    })
    html += '</ul>';
    return html;
}

function getMenu(q) {
    $.getJSON('{{ reverse_url('menu') }}', {'q':q}, function(data){
        html = createMenuNode(data);
        $('#menu').html(html);
        initTree();
        sidebarHeight();
    })
}

function getValue(key) {
    $.getJSON('{{ reverse_url('value') }}', {'key': key}, function(data){
        var special_options = '';
        switch (data.type) {
            case 'string':
                break;
            case 'list':
                special_options = ' \
                    <li><a href="javascript:;" onclick="append(\''+ data.key +'\', \''+ data.type +'\', \'l\')">LPUSH</a></li> \
                    <li><a href="javascript:;" onclick="append(\''+ data.key +'\', \''+ data.type +'\', \'r\')">RPUSH</a></li> \
                    <li><a href="javascript:;" onclick="listPop(\''+ data.key +'\', \'l\')">LPOP</a></li> \
                    <li><a href="javascript:;" onclick="listPop(\''+ data.key +'\', \'r\')">RPOP</a></li> \
                    ';
                break;
            case 'hash':
                special_options = ' \
                    <li><a href="javascript:;" onclick="append(\''+ data.key +'\', \''+ data.type +'\', \'\')">Set</a></li> \
                    ';
                break;
            case 'set':
                special_options = ' \
                    <li><a href="javascript:;" onclick="append(\''+ data.key +'\', \''+ data.type +'\', \'\')">Add</a></li> \
                    ';
                break;
            case 'zset':
                special_options = ' \
                    <li><a href="javascript:;" onclick="append(\''+ data.key +'\', \''+ data.type +'\', \'\')">Add</a></li> \
                    ';
                break;
            default:
                break;
        }
        if (data.value!=null) {
            var html = ' \
                <h2>[' + data.type + ']' + data.key + '</h2> \
                <div class="options"> \
                    <ul> \
                        <li><a href="javascript:;" onclick="expire(\''+ data.key +'\')">Expire</a></li> \
                        <li><a href="javascript:;" onclick="move(\''+ data.key +'\')">Move</a></li> \
                        <li><a href="javascript:;" onclick="getValue(\''+ data.key +'\')">Refresh</a></li> \
                        <li><a href="javascript:;" onclick="deleteKey(\''+ data.key +'\')">Delete</a></li>'+ special_options +' \
                    </ul> \
                </div> \
                <div class="tips">Please double click item to edit it, and ctrl+enter to submit. </div> \
                <table class="view" data-key="'+ data.key +'" data-type="'+ data.type +'">';

            if (data.value=='' | typeof(data.value)=='string') {
                html += '<tr><th>Value</th></tr> \
                    <tr><td>'+ data.value +'</td></tr>';
            } else {
                $.each(data.value, function(k,v){
                    html += ' \
                    <tr> \
                        <th>' + k + '</th> \
                        <td>' + v + '</td> \
                    </tr>';
                })
            }
            html += '</table>';
        } else {
            var html = '<h2>This key is not found.</h2>';
        }
        $('#data-box').html(html);
        sidebarHeight();
    })
}

function getList(root, page) {
    $.getJSON('{{ reverse_url('list') }}', {'root': root, 'page':page}, function(json){
        var ths = new Array();
        var $box = $('<div> \
            <h2>' + root + '</h2> \
            <div class="options"> \
                <p>View the sub-key, and display all data if hash keys</p> \
            </div> \
            <table class="list"> \
            </table></div>');
        var $thead = $('<thead><tr><th>Key</th></tr></thead>');
        var $tbody = $('<tbody><tbody>');
        if (json.data!='') {
            $.each(json.data, function(index, item){
                // td-box
                var tds = '<tr>';
                $.each(ths, function(i,k){
                    tds += '<td class="'+ k +'"></td>';
                })
                tds += '</tr>';
                var $tds = $(tds);
                
                // each data
                $.each(item[1], function(k,v){
                    if ($.inArray(k, ths)==-1) {
                        $thead.find('tr').append('<th>'+ k +'</th>');
                        ths.push(k);
                        $tds.append('<td class="'+ k +'">'+ v +'</td>');
                        $tbody.find('tr').append('<td></td>');
                    } else {
                        $tds.find('td.'+k).html(v);
                    }
                });

                $tbody.append('\
                    <tr> \
                        <th><a class="key" href="javascript:;">' + item[0] + '</a></th>' + $tds.html() + ' \
                    </tr>');
            });
            if (json.iter_pages!='') {
                var page_html = '';
                $.each(json.iter_pages, function(i, p){
                    if (p) {
                        if (json.page==p) {
                            page_html += '<span class="current">'+p+'</span>';
                        } else {
                            page_html += '<a href="javascript:;" data-root="'+json.root+'" data-page="'+p+'">'+p+'</a>';
                        }
                    } else {
                        page_html += '<span class="ellipsis">...</span>';
                    }
                })
                $box.append('<div class="pagination">' + page_html + '</div>');
            };
        } else {
            $tbody.append('\
                <tr> \
                    <th>No sub-key in this root, please select children root on left.<th> \
                </tr>');
        }
        $box.find('table').html('<thead>' + $thead.html() + '</thead><tbody>' + $tbody.html() + '</tbody>');
        $('#data-box').html($box.html());
        sidebarHeight();
    })
}

function editValue(obj) {
    if (!obj.hasClass('edit') & !obj.parents('table').hasClass('info')) {
        var key = obj.parents('table').data('key');
        var type = obj.parents('table').data('type');
        var field = obj.text();
        if (type=='hash') field = obj.prev().text();
        var del = '';
        if ($.inArray(type, ['hash','set','zset'])!=-1) {
            del = 'or you can <input type="button" value="Delete it" onclick="deleteFeild(\''+key+'\', \''+ field +'\');" />';
        }
        var html = ' \
           <form> \
           <input type="hidden" name="k" value="'+ key +'" /> \
           <input type="hidden" name="i" value="'+ obj.prev().text() +'" /> \
           <input type="hidden" name="f" value="'+ obj.text() +'" /> \
           <textarea name="v">'+ obj.text() +'</textarea> \
           '+ del +'</form>';
        obj.addClass('edit').html(html);
    }
}

function editDone(form) {
    var key = form.find('input[name=k]').val();
    var index = form.find('input[name=i]').val();
    var field = form.find('input[name=f]').val();
    var value = form.find('textarea[name=v]').val();
    $.getJSON('{{ reverse_url('edit') }}', {'key': key, 'index': index, 'field': field, 'value': value}, function(json){
        if (json.success) {
            form.parent().removeClass('edit').html(form.find('textarea[name=v]').val());
        } else { alert('server error!');
        }
    })
}

function append(key, type, pos) {
    // pos is used list.
    if (!$('#data-box table tbody tr:last').hasClass('append')) {
        var $tr = $('<tbody><tr class="append"><th></th><td><form></form></td></tr></tbody>');
        var $form = $tr.find('form');
        var $th = $tr.find('th');
        switch (type) {
            case 'string':
                $tr.find('th').remove();
                break;
            case 'list':
                $form.append('<input type="hidden" name="pos" value="'+ pos +'" />');
                break;
            case 'hash':
                var field = prompt("Please input a field name by new value:");
                if (field==null | field=='') return 
                $form.append('<input type="hidden" name="field" value="'+ field +'" />');
                $th.html(field);
                break;
            case 'zset':
                var score = prompt("Please input a score by new member:");
                if (score==null | score=='') return
                $form.append('<input type="hidden" name="score" value="'+ score +'" />');
                $th.html('score:' + score);
                break;
            default:
                break;
        }
        $form.append('<input type="hidden" name="key" value="'+ key +'" />');
        $form.append('<textarea name="value"></textarea>');
        $('#data-box table tbody').append($tr.html()).find('textarea').focus();
    }
}

function addValue(form) {
    var data = form.serialize();
    var key = form.find('input[name=key]').val();
    $.getJSON('{{ reverse_url('add') }}', data, function(json){
        if (json.success) {
            getValue(key);
        } else { alert('server error!');
        }
    })
}

function deleteFeild(key, field) {
    $.getJSON('{{ reverse_url('remove') }}', {'key':key, 'field':field}, function(json){
        if (json.success) {
            getValue(key);
        } else { alert('server error!');
        }
    })
}

function listPop(key, pos) {
    $.getJSON('{{ reverse_url('pop') }}', {'key':key, 'pos':pos}, function(json){
        if (json.success) {
            getValue(key);
        } else { alert('server error!');
        }
    })
}

function connection(db, callback) {
    $.getJSON('{{ reverse_url('connection') }}', {'db':db}, function(json){
        if (json.success){
            callback();
        }
    })
}

$(function(){
    var q = $('#search form input[name=q]').val();
    if (q) getMenu(q);
    getInfo();
    $('#nav li a.info').click(function(){
        getInfo();
    });
    $('#nav li a.connection').click(function(){
        $('#connect-list').toggle('fast');
    });
    $('#nav li a.new').click(function(){
        $('#new-box').toggle('fast');
    });
    $('#new-box select').change(function(){
        if ($(this).val()=='zset') {
            var tr_score = '\
                    <tr class="zset-score">\
                        <th><label for="new-score">Score:</label></th>\
                        <td><input id="new-score" name="score" type="text" /></td>\
                        </tr>';
            $(this).parents('tr').after(tr_score);
        } else {
            var next = $(this).parents('tr').next();
            if (next.hasClass('zset-score')) next.remove();
        }
    })
    $('#new-box form').submit(function(){
        var $this = $(this);
        var key = $(this).find('input[name=key]').val();
        var data = $(this).serialize();
        $.getJSON('{{ reverse_url('new') }}', data, function(data){
            if (data.success) {
                getValue(key);
                $('#nav a.new').click();
                $this.find('input:text, textarea').val('');
            } else {
                alert(data.error);
            }
        })
    })
    $('#search form').submit(function(){
        getMenu($(this).find('input[name=q]').val());
        return false;
    });
    $('#connect-list li a').click(function(){
        var $this = $(this);
        var callback = function(){
            $('#menu').html('');
            $this.parents('ul').find('a').removeClass('current');
            $this.addClass('current');
            $('#nav a.connection').click();
            var q = $('#search form input[name=q]').val();
            if (q) getMenu(q);
        }
        var db = $this.data('db');
        connection(db, callback);
    });
    $('body').delegate('a.key', 'click', function(){
        getValue($(this).text());
    });
    $('#menu').delegate('li>a>span.folder', 'click', function(){
        getList($(this).data('root'), 1);
    });
    $('#data-box').delegate('td', 'dblclick', function(){
        editValue($(this));
    });
    $('#data-box').delegate('textarea[name=v]', 'keydown', function(event){
        if(event.ctrlKey && event.keyCode==13){
            var form = $(this).parents('form');
            editDone(form);
        }
    });
    $('#data-box').delegate('textarea[name=value]', 'keydown', function(event){
        if(event.ctrlKey && event.keyCode==13){
            var form = $(this).parents('form');
            addValue(form);
        }
    });
    $('body').delegate('.pagination a', 'click', function(){
        getList($(this).data('root'), $(this).data('page'));
    });
    $("#loading").ajaxStart(function(){
        $(this).show();
    });
    $("#loading").ajaxStop(function(){
        $(this).hide();
    });  
})

</script>
{% end %}

{% block sidebar %}
<div id="search">
    <form action="/" method="post">
        <input name="q" type="text" class="text" value="{{ handler.get_args('q','') or '*' }}" />
    </form>
</div>
<div id="menu"></div>
{% end %}

{% block content %}
<div id="data-box"></div>
{% end %}

